.header {
    padding: 30px 0;
    color: #ffffff;
    background-color: #025159;
    width: 100%;
    text-align: center;
    border-bottom: 5px solid #F28705;
    margin-bottom: 10px;
    font-family: monospace;
}


/* Color Theme Swatches in Hex */
/* 
.Travel-1-hex { color: #025159; }
.Travel-2-hex { color: #03A696; }
.Travel-3-hex { color: #F28705; }
.Travel-4-hex { color: #F25D27; }
.Travel-5-hex { color: #F20505; } */
